<div class="body">
    <div class="grid-container">
        <div class="aboutus">
            <div class="subgrid1">About XYZPharma</div>
            <hr>
            <div class="aboutContent">
                <!--code to display aboutusdetals-->
            </div>
        </div>
        <div class="awards">
            <div class="subgrid1">
                Awards
            </div>
            <hr>
            <!--code to display awards as list-->
        </div>
        <div class="contact">
            <div class="subgrid1">
                Contact Us
            </div>
            <hr>
            <div class="subgrid2">
                <div class="sub1">Head Office<br>
                    <div>
                        XYZPharma <br>
                        Pharma House, MountValley <br>
                        Mumbai <br>
                        4000210
                    </div>
                </div>
                <div class="sub2">
                    <div>Business Hours</div>
                    <div>24*7</div>
                    <div>Contact before visiting:9011236784</div>
                </div>
            </div>
        </div>
    </div>
</div>